.employee-card {
    @include flexy($just: space-around, $dir: column, $align: center);
    padding: ems(16) ems(10);
    border: 2px solid $border;
    margin-left: ems(10);
    margin-right: ems(10);
    @include mq(med) {
        @include flexy($dir: row, $just: flex-start);
        margin-left: 0;
        margin-right: 0;
    }
    img {
        border-radius: 50%;
        @include mq(med) {
            margin-left: ems(5);
        }
    }
    div + div {
        padding-top: ems(10);
        @include mq(med) {
            padding-top: 0;
            padding-left: ems(15);
        } 
    }    
}

.hide {
    display: none;
}

.show {
    display: block;
}

footer {
    padding: ems(10);
    border-top: 2px solid $border;
    margin-top: ems(20);
}